
{@main-title}                                       {ROBOT Tools}
{python /work/sls/bin/X_ROBOT_X02DA_UserGUI.py -L}                     	    {Beamline GUI}
{medm -x -attach \
    X_ROBOT_X02DA_robotSequencer.adl}               	{Robot Sequencer Control}
{python /work/sls/bin/X_ROBOT_X02DA_logbook.py -r -L}                     {Add DUO Account}

{python /work/sls/bin/X_ROBOT_X02DA_dbSequencer.py -L}                     {Start DB Sequencer}
{python /work/sls/bin/X_ROBOT_X02DA_dbSequencer.py -x -L}                     {Start XML Sequencer}
{@main-title}                                       {Alignment Tools}
{python /work/sls/bin/X_ROBOT_X02DA_Autoalign.py -L}                     	    {Alignment Tool}
{medm -x -attach -macro "SMP1=X02DA-ES1-SMP1, \
    BUMP=X02DA-ES1-BUMP,SNAP=X02DA-SCAN-SNAP"\
    X_ROBOT_X02DA_Alignment.adl}               	{Manual Alignment Panel}
