#
# $RCSfile: X_ROBOT_X02DA_expert.config,v $
# $Source: /cvs/X/ROBOT/X02DA/App/config/launcher/X_ROBOT_X02DA_expert.config,v $
# $Author: mader $
# $Revision: 1.12 $
# $Name:  $
# $Date: 2011/09/08 13:51:12 $
#
# Responsible:  K. Mader
# Description:  This file contains the top level launcher configuration for 
#               experts of the X02DA ROBO soft-IOC.
# Notes:        
#
{@main-title}                                       {Robot Tools}
{@title}                                            {GUI}
{python /work/sls/bin/X_ROBOT_X02DA_UserGUI.py -X -L}                     	    {Beamline GUI Expert}
{medm -x -attach \
    X_ROBOT_X02DA_expert.adl}               	{Robot Expert Panel}
{medm -x -attach \
    X_ROBOT_X02DA_robotSequencer.adl}               	{Robot Sequencer Control}
{python /work/sls/bin/X_ROBOT_X02DA_logbook.py -r -L}                     {Add DUO Account}

{@title}                                            {Commands}
{python /work/sls/bin/X_ROBOT_X02DA_dbSequencer.py -E -L}                     {Start DB Sequencer Expert}
{python /work/sls/bin/X_ROBOT_X02DA_dbSequencer.py -Ex -L}                     {Start XML Sequencer Expert}
{X_ROBOT_X02DA_restartIOC.sh}                       {Restart IOC}
{@main-title}                                       {Alignment Tools}
{python /work/sls/bin/X_ROBOT_X02DA_Autoalign.py -X -L}                     	    {Alignment Tool}
{medm -x -attach -macro "SMP1=X02DA-ES1-SMP1, \
    BUMP=X02DA-ES1-BUMP,SNAP=X02DA-SCAN-SNAP"\
    X_ROBOT_X02DA_Alignment.adl}               	{Manual Alignment Panel}
# --- End of $RCSfile: X_ROBOT_X02DA_expert.config,v $ -------------------------
